#nav-bar {
  position: fixed;
  top:0;
  left:100;
  width:100%;
  display:inline-flex;
  text-align: center
}


.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start
}
.bigfont{
  font-size:100px
}
